<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css')}}" />

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('model') }}" class="navbar-item">Model</a>
        <a href="{{ url_for('video') }}" class="navbar-item">Live Stream</a>
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}


        <hr />

        <footer>
            <p>Ismile Technologies © 2020</p>
        </footer>
    </div>

</body>

</html>